.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
content/.ipynb_checkpoints/*
content/*/.ipynb_checkpoints/*
*.pyc
_build/
.ipynb_checkpoints/
howto_openclimlab_on_localhost_mld
myst_orig.yml
courseware_6030/data/*.nc
courseware_6030/**/*-key.ipynb
